################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC/FileContentIndex/e9802e67-3631-4fa9-abcc-01c04dcfce07.vsidx
/.vs/paypledge-mvc/FileContentIndex
